<div id="add-cars">
  <h3>Book Car & Add to My Garage</h3>
    <p><input type="text" name="cover" ng-model="newExoticar.cover" placeholder="photo URL" class="form-control" value=""></p>
    <p><input type="text" name="title" ng-model="newExoticar.title" placeholder="make and model" class="form-control" value=""></p>
    <p><input type="text" ng-model="newExoticar.description" name="description" placeholder="description" class="form-control" value=""></p>
    <p><button type="button" ng-click="addExoticar(newExoticar)" name="button" class="btn btn-success">Add Car to Garage</button></p>
</div>
